{"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":7,"column":8},"end":{"row":7,"column":8},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"aced454a3d2fa554445d0ad470847e0e57086bd9","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1581995876935}