<% if !user_signed_in? %>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-size-8">
          <br>WELCOME TO DESIGN FINDER!</br>
                </h1>
                <h3 class="title is-size-6">
          <br>Amazing design for all designers around the world!</br>
        </h3>
        <div class="content">
          <%= link_to " Sign In", new_user_session_path, class: "button is-link fas fa-sign-in-alt" %>
        </div> 
            <div class="content">
              <%= link_to ' Guest Sign In (w/o password)', users_guest_sign_in_path, class: "button is-link fas fa-user-plus", method: :post %>
        </div>
          <div class="content">
        <%= link_to user_google_oauth2_omniauth_authorize_path do %>
                <%= image_tag "btn_google_signin_dark_normal_web.png" %>
                 <% end %>
        </div>
      </div>
    </div>	          
  </section>
<% end %>