             <div class="tabs is-small">
  <ul>
    <li><a>Pictures</a></li>
    <li><a>Music</a></li>
    <li><a>Videos</a></li>
    <li><a>Documents</a></li>
  </ul>
</div>


<%= search_form_for(@q, url:search_path) do |f|>

  <%= f.label :department_id_eq, '学部'>
    <%= f.collection_select :department_id_eq, @departments, :id, :name, :include_blank => '指定なし'>
 <%= f.submit>