
.circle-avatar  {
  width: 100em;
  height: 10em;
  position:relative;
}

.circle-avatar img {
  width: 100px;
  height: 100px;
  margin-left: -120px;
  position: absolute;
  border-radius: 80%;
  object-fit: cover;
}


.originalFileBtn {
    font-weight: bold;
    background-color: white;
    border: 3px solid;
    display: inline-block;
    padding: 1px 1em;
    top: 85px;
    position: absolute;
}
.originalFileBtn input[type="file"] {
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
}
